@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Navbar */
.navbar {
  padding: 15px 80px;
  background-color: #1e3147;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  z-index: 1000;
}
nav p:hover {
  color: #7848f4;
  transition: 0.5s;
}
.bx {
  font-family: boxicons !important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  text-transform: none;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}
nav .menu-icon {
  display: none;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}

.logo span {
  color: #7848f4;
}

nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav p {
  font-size: 1rem;
  cursor: pointer;
}

.btn {
  padding: 10px 20px;
  background-color: #7848f4;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
nav .btn:hover {
  background-color: #10107b;
  transition: ease-in 1s;
}

/* Hero Section */
.hero-section {
  width: 100%;
  height: 90vh;
  position: relative;
  max-width: 2000px;
  max-height: 700px;
  overflow: hidden;
  margin: 0 auto;
}
.hero-banner {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80%;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.hero-section {
  width: 100%;
  height: 90vh;
  position: relative;
  max-width: 2000px;
  max-height: 700px;
  overflow: hidden;
  margin: 0 auto;
}

.hero-banner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("/img/unsplash_F2KRf_QfCqw.png") center/cover no-repeat;
  filter: brightness(0.8);
  z-index: -1;
}
.hero-banner h1 {
  font-size: 3.7rem;
  color: #fff;
  width: 29rem;
  text-align: center;
}
.hero-form {
  display: flex;
  justify-content: center;
}
.form {
  background-color: blue;
  padding: 1.5rem;
  border-radius: 10px;
  margin: 0 5rem;
  position: absolute;
  bottom: 3rem;
  display: flex;
  width: 80%;
}
.input-field {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  width: 100%;
}
.input-field p {
  color: #ffff;
}
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.hero-banner h1:hover {
  color: #7125b4;
  transition: 5s;
}

.scale-in-hor-left {
  animation: scale-in-hor-left 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-hor-left {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

@keyframes brandAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.brandAnimation {
  display: flex;
  justify-content: space-around;
}

.brandAnimation {
  animation: brandAnimation 2s ease-in-out infinite;
}

/* start Event Session */
.upcoming-events {
  width: 90%;
  margin: auto;
}
.event-heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 2rem;
}
.event-heading h2 {
  font-size: 2.4rem;
}
.event-heading span {
  color: #7848f4;
}
.input-field-text {
  margin: 0 0.7rem;
  padding-left: 3rem;
  color: #131315;
  border-radius: 5px;
  background: rgba(104, 124, 148, 0.05);
}
.fields {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.event-card {
  width: 360px;
  height: 400px;
  margin: 1rem 1rem;
  flex: 1;
  padding-top: 1rem;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px -0.275px 2.748px 0px rgba(0, 0, 0, 0.02),
    0px -0.695px 6.95px 0px rgba(0, 0, 0, 0.03),
    0px -1.418px 14.177px 0px rgba(0, 0, 0, 0.04),
    0px -2.92px 29.201px 0px rgba(0, 0, 0, 0.05),
    0px -8px 80px 0px rgba(0, 0, 0, 0.07);
}
.description {
  font-size: 1.1rem;
  padding-top: 10px;
  padding-left: 13px;
}
.event-details {
  display: block;
  padding: 10px 15px;
}
.event-details p {
  font-size: 0.7rem;
  font-weight: 400;
  color: #7848f4;
}
.event-details span {
  color: #7e7e7e;
}
.card-img {
  text-align: center;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.load-btn {
  display: flex;
  padding: 14px 27px;
  justify-content: center;
  border: none;
  border-radius: 5px;
  align-items: center;
  background-color: #7848f4;
  margin: auto;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

/* End Event Session */

/* Start Banner Section */
.banner-section {
  width: 100%;
  height: 270px;
  margin-top: 6rem;
  background-color: navy;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-img {
  padding-bottom: 1.7rem;
  padding-right: 4rem;
}
.banner-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-details h2 {
  font-size: 2.3rem;
  color: #fff;
}

.banner-description p {
  font-size: 1.1rem;
  color: #f8f8fa;
  margin-top: 1.6rem;
}

.event-btn {
  margin-top: 1rem;
  padding: 1rem 3rem;
  background-color: #7848f4;
  border-radius: 5px;
  border: none;
  color: #f8f8fa;
  font-size: 1rem;
}

/* End Banner Section */

/* Start Brands Session */
.brands-session {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
.brand-heading {
  text-align: center;
}
.brand-heading h2 {
  font-size: 2rem;
  padding-top: 1rem;
}
.brand-heading p {
  padding-top: 20px;
  font-size: 1rem;
  font-weight: 700;
}
.brand-heading span {
  color: #7848f4;
}
.brands-logo {
  margin-top: 2rem;
  margin-left: 2rem;
}
.logo-img {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.logo-img img {
  width: 140px;
}
.logo-img :nth-child(1) {
  width: 179px;
}
.logo-img :nth-child(2) {
  width: 162px;
}
.logo-img :nth-child(1) {
  width: 141px;
}
.logo-img :nth-child(1) {
  width: 226px;
}
.logo-img :nth-child(1) {
  width: 296px;
}
.logo-img :nth-child(1) {
  width: 294px;
}
.logo-img :nth-child(1) {
  width: 181px;
}
.logo-img :nth-child(1) {
  width: 134px;
}
.logo-img :nth-child(1) {
  width: 145px;
}

.scale-in-hor-left {
  animation: scale-in-hor-left 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-hor-left {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

@keyframes brandAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.brandAnimation {
  display: flex;
  justify-content: space-around;
}

.brandAnimation {
  animation: brandAnimation 2s ease-in-out infinite; /* Adjust duration and timing function as needed */
  /* Additional styling for your brand items */
}

/* Add hover styles if needed */
.brand:hover {
  transform: scale(1.2);
  /* Additional hover styles */
}

/* End Brands Session */

/* Start Trending Session */
.trending-session {
  width: 92%;
  margin: auto;
  margin-top: 40px;
}
.trending-heading {
  padding: 1rem;
  font-size: 1.7rem;
}
.trending-card {
  transition: all 0.3s ease;
}

.trending-card:hover {
  transform: scale(1.1);
  color: #1e3147;
}

.trending-heading span {
  color: #7848f4;
}
.popular-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.trending-card {
  width: 400px;
  height: 420px;
  box-shadow: 0px -0.275px 2.748px 0px rgba(0, 0, 0, 0.02),
    0px -0.695px 6.95px 0px rgba(0, 0, 0, 0.03),
    0px -1.418px 14.177px 0px rgba(0, 0, 0, 0.04),
    0px -2.92px 29.201px 0px rgba(0, 0, 0, 0.05),
    0px -8px 80px 0px rgba(0, 0, 0, 0.07);
}
.trending-img {
  border-radius: 10px;
  background: #fff;
  text-align: center;
  padding-top: 10px;
}
.trending-img img {
  width: 366px;
  height: 331px;
}
.trending-description p {
  font-size: 1.1rem;
  font-weight: 700;
  padding-left: 35px;
}
.trending-details {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trending-details img {
  width: 38px;
  height: 35px;
  margin-right: 20px;
}
.load-more {
  display: flex;
  padding: 14px 27px;
  justify-content: center;
  border: none;
  border-radius: 5px;
  align-items: center;
  background-color: #7848f4;
  margin: auto;
  margin-top: 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

/* End Trending Session */

/* Start Blog Session */
.Seller-card {
  width: 360px;
  height: 400px;
  margin: 1rem 1rem;
  padding-top: 1rem;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px -0.275px 2.748px 0px rgba(0, 0, 0, 0.02),
    0px -0.695px 6.95px 0px rgba(0, 0, 0, 0.03),
    0px -1.418px 14.177px 0px rgba(0, 0, 0, 0.04),
    0px -2.92px 29.201px 0px rgba(0, 0, 0, 0.05),
    0px -8px 80px 0px rgba(0, 0, 0, 0.07);
}
.Seller-card {
  transition: all 0.5s ease-in;
}

.Seller-card:hover {
  transform: scale(1.1);
  color: #1e3147;
}
.blog-session {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 2rem;
}
.blog-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-heading h2 {
  font-size: 2rem;
}
.blog-heading span {
  color: #7848f4;
}

/* End Blog Session */

/* Start Footer Section */
.footer-section {
  width: 100%;
  background-color: #10107b;
}
.main-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
}
.footer-heading h2 {
  font-size: 2.3rem;
  color: #fff;
}
.footer-heading span {
  color: #7848f4;
}
.footer-info {
  display: flex;
  flex-direction: row;
  gap: 11px;
  margin-top: 20px;
}
.footer-subscription .input {
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 5px;
}
.footer-button {
  padding: 0.6rem 1.5rem;
  background-color: #7848f4;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1.3rem;
  padding-top: 2rem;
}
.nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
.footer-section hr {
  border: 1px solid;
  margin-top: 30px;
}
.footer-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2rem;
}
.footer-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-buttons button {
  background-color: transparent;
  border: none;
  color: #fff;
}
.footer-buttons .btn2 {
  padding: 0.4rem 1rem;
  background-color: #7848f4;
  border: none;
  border-radius: 5px;
}
.icons {
  display: flex;
  gap: 10px;
}
.copy-right {
  color: #fff;
}
.nav a:hover {
  color: #7125b4;
  font-size: 1.3rem;
  transition: 0.8s;
}
/* End Footer Section */

/* Responsiveness */

/* Media query for smaller screens */

@media (max-width: 1200px) {
  .popular-cards {
    flex-wrap: wrap;
  }
  .blog-cards {
    flex-wrap: wrap;
  }
}

@media (max-width: 992px) {
  .input-field-text {
    margin: 0 0.3rem;
    padding-left: 1rem;
  }
  .event-heading h2 {
    font-size: 2rem;
  }
  .banner-details h2 {
    font-size: 2rem;
  }
  .banner-description p {
    font-size: 1rem;
  }
}

@media (max-width: 896px) {
  .banner-description p {
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  .banner-details h2 {
    font-size: 1.7rem;
  }
}
@media (max-width: 820px) {
  .banner-img {
    padding-right: 1rem;
  }
}

@media (max-width: 792px) {
  .banner-img {
    padding-right: 0rem;
  }
  .banner-description p {
    font-size: 0.6rem;
    margin-top: 1rem;
  }
  .banner-details h2 {
    font-size: 1.3rem;
  }
  .event-btn {
    padding: 1rem 2rem;
  }
}

@media (max-width: 768px) {
  nav .menu-icon {
    display: block;
    font-size: 2.2rem;
  }
  nav .btn {
    display: none;
  }
  nav p {
    display: none;
  }
  .input-field-text {
    width: 110px;
  }
  .event-heading h2 {
    font-size: 1.7rem;
  }
  .event-heading {
    padding: 0.2rem 1rem;
  }
  .footer-end {
    padding: 0 0;
  }
  .footer-buttons {
    gap: 8px;
  }
  .icons {
    gap: 6px;
  }
}

@media (max-width: 722px) {
  .banner-img img {
    width: 470px;
  }
}
@media (max-width: 690px) {
  .input-field-text:nth-child(1) {
    display: none;
  }
  .banner-img img {
    width: 430px;
  }
  .footer-buttons button {
    font-size: 0.7rem;
  }
  .icons img {
    width: 25px;
  }
  .copy-right {
    font-size: 0.7rem;
  }
}

@media (max-width: 605px) {
  .banner-img img {
    width: 400px;
  }
}
@media (max-width: 575px) {
  .input-field-text:nth-child(2) {
    display: none;
  }
  .input-field-text:nth-child(3) {
    width: 120px;
  }
  .banner-img img {
    width: 350px;
  }
  .banner-description p {
    font-size: 0.4rem;
    margin-top: 1rem;
  }
  .banner-details h2 {
    font-size: 1rem;
  }
  .event-btn {
    padding: 1rem 1rem;
  }
}
@media (max-width: 540px) {
  .input-field select {
    width: 90px;
  }
  .form {
    width: 90%;
  }
}
@media (max-width: 490px) {
  .banner-img img {
    width: 330px;
  }
  .footer-buttons button {
    font-size: 0.5rem;
  }
  .icons img {
    width: 20px;
  }
  .copy-right {
    font-size: 0.5rem;
  }
}

@media (max-width: 470px) {
  .event-heading h2 {
    font-size: 1.4rem;
  }
  .banner-details h2 {
    font-size: 1rem;
  }
  .event-btn {
    padding: 0.7rem 0.5rem;
  }
  .banner-img img {
    width: 300px;
  }
}
@media (max-width: 420px) {
  .input-field {
    margin: 0;
  }
  .form {
    gap: 10px;
  }
}
@media (min-width: 1570px) {
  .navbar {
    display: flex;
    justify-content: center;
    gap: 52rem;
  }

  .event-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 33rem;
  }
  .cards {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    max-width: 1500px;
    margin: auto;
  }
  .trending-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
  }
  .blog-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
  }

  .footer-end {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
  }
}
